USE StockSystem;

GO

ALTER PROCEDURE dbo.CreateSampleOrders
AS
BEGIN;

SET NOCOUNT ON;

DECLARE @CustomerCount				INT = (SELECT COUNT(*) FROM dbo.Customer);
DECLARE @ItemCount					INT = (SELECT COUNT(*) FROM dbo.StockItem),
		@MaxNumberOfItemsOnOrder	INT = 6,
		@MaxQuantity				INT = 10,
		@NumberOfItemsOnOrder		INT,
		@NumberOfOrdersToCreate		INT = 1,
		@OrderCounter				INT = 1,
		@ItemCounter				INT = 1,
		@CurrentCustomerId			INT,
		@CurrentItemId				INT;

-- Create a number of orders
WHILE (@OrderCounter <= @NumberOfOrdersToCreate)
 BEGIN;

	DECLARE @OrderLines			dbo.OrderLine,
			@OrderHeaderId		INT,
			@OrderReference		VARCHAR(20) = LEFT(CONVERT(VARCHAR(40), NEWID()), 8);
			
	-- Obtain a customer ID
	SELECT @CurrentCustomerId = (SELECT ABS(CHECKSUM(NEWID())) % @CustomerCount);

	-- Only create the order if the customer exists
	IF EXISTS(SELECT 1 FROM dbo.Customer WHERE CustomerId = @CurrentCustomerId)
	 BEGIN;

		-- Randomly select how many items to add to the order
		SELECT @NumberOfItemsOnOrder = ABS(CHECKSUM(NEWID())) % @MaxNumberOfItemsOnOrder;

		-- Create the order lines
		WHILE (@ItemCounter <= @NumberOfItemsOnOrder)
		 BEGIN;

			DECLARE @CurrentQuantity	INT = ABS(CHECKSUM(NEWID())) % @MaxQuantity;
		
			SELECT @CurrentItemId = ABS(CHECKSUM(NEWID())) % @ItemCount;

			IF (@CurrentItemId IS NOT NULL AND @CurrentQuantity > 0)
			 BEGIN;
				INSERT INTO @OrderLines (StockItemId, Quantity)
					VALUES (@CurrentItemId, @CurrentQuantity);
	
				SELECT @ItemCounter += 1;
			 END;

		 END;

		 EXEC dbo.InsertOrUpdateOrder
			@CustomerId			= @CurrentCustomerId,
			@OrderReference		= @OrderReference,
			@OrderLines			= @OrderLines,
			@OrderHeaderId		= @OrderHeaderId OUTPUT;

		 PRINT 'Order Header ID: ' + CAST(@OrderHeaderId AS VARCHAR(20));

		 SELECT @OrderCounter += 1;

	 END;		-- End of customer check

END;	-- End of order creation loop

SET NOCOUNT OFF;

END;